@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap'); 
@import './_colors.scss';

.main {
    display: flex;
    justify-content: center;
    /* background: linear-gradient(#141e30, #243b55); */
    height: 100vh;
    font-family: 'Libre Baskerville', serif;
}